<h1>Welcome</h1>
<p>Welcome to Whistleblower beta</p>
<p>Report news and happenings around your community whether good or bad, public sector failing and choose to be seen by
  the world or completley private to you only</p>
{{#if user}}
{{else}}
<a class="btn red darken-1" href="/auth/google"><i class="fa fa-google left"></i> Login With Google</a>
{{/if}}